.menu-container {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

/* Estilos generales */
body {
    background-color: #EED09D;
    color: #6E3D23;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #EED09D;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


/* Tarjetas de productos */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1; /* Hace que las tarjetas sean cuadradas */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #EED09D;
    padding: 15px;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    height: 70%;
    width: 100%;
    object-fit: cover; /* Ajusta la imagen dentro de la tarjeta manteniendo la proporción */
    border-radius: 10px;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

/* Títulos y descripciones */
.card-title {
    color: #6E3D23;
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px 0;
}

.card-text {
    font-size: 1em;
    color: #907454;
    margin: 5px 0;
}

/* Precio */
.card-price {
    font-size: 1.2em;
    color: #F19C29;
    font-weight: bold;
    margin: 5px 0;
}

/* Botón */
.btn-add {
    background-color: #F19C29;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
    width: 100%;
    margin-top: auto;
}

.btn-add:hover {
    background-color: #C7781A;
}

/* Especiales del día */
.specials-section h2 {
    color: #6E3D23;
}

.special-card {
    border: 2px solid #C7781A;
    background-color: #EED09D;
}

.special-card .card-title {
    color: #6E3D23;
}

.special-card .card-text {
    color: #907454;
}

.special-card .price {
    color: #F19C29;
    font-weight: bold;
}

