<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleLogin.css">
    <script src="/js/signup.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<section class="signup-section">
    <form method="post" th:action="@{/signup/guardar}" th:object="${cliente}" novalidate>
        <h2>Crear Cuenta</h2>
        <div class="inputbox" th:classappend="${#fields.hasErrors('nombre') ? 'error' : ''}">
            <ion-icon name="person-outline"></ion-icon>
            <input class="form-control" th:field="*{nombre}" required minlength="2" type="text">
            <label>Nombre</label>
            <div class="field-error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en nombre</div>
        </div>
        <div class="inputbox" th:classappend="${#fields.hasErrors('apellido') ? 'error' : ''}">
            <ion-icon name="person-outline"></ion-icon>
            <input class="form-control" th:field="*{apellido}" required minlength="2" type="text">
            <label>Apellido</label>
            <div class="field-error" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error en apellido</div>
        </div>
        <div class="inputbox" th:classappend="${#fields.hasErrors('email') ? 'error' : ''}">
            <ion-icon name="mail-outline"></ion-icon>
            <input class="form-control" th:field="*{email}" required type="email">
            <label>Correo</label>
            <div class="field-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error en email</div>
        </div>
        <div class="inputbox" th:classappend="${#fields.hasErrors('password') ? 'error' : ''}">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input class="form-control" th:field="*{password}" required minlength="6" type="password">
            <label>Contraseña</label>
            <div class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error en contraseña</div>
        </div>
        <div class="inputbox">
            <ion-icon name="shield-outline"></ion-icon>
            <input type="password" required>
            <label>Confirmar contraseña</label>
        </div>
        <button type="submit">Registrarse</button>
        <div class="register">
            <p>¿Ya tienes una cuenta? <a href="/login">Iniciar Sesión</a></p>
        </div>
    </form>
    <div th:if="${error}" class="custom-error-message" th:text="${error}">
        Error
    </div>
</section>
</body>
</html>